In [1]:
from datasets import load_from_disk, Dataset
from tqdm import tqdm, trange
import pandas as pd
import pickle
import re

In [2]:
def preprocess(text):
    text = re.sub(r'\n', ' ', text)
    text = re.sub(r'\\n', ' ', text) # remove newline character
    text = re.sub(r'\s+', ' ', text) # remove continuous spaces
    text = re.sub(r'#', ' ', text)
    return text

In [13]:
t0 = load_from_disk('/opt/ml/data/passage_shuffle/concat_train_gt_0').to_pandas() # 전처리된 데이터를 테스트로 활용
t1 = load_from_disk('/opt/ml/data/passage_shuffle/concat_train_gt_1').to_pandas()
t2 = load_from_disk('/opt/ml/data/passage_shuffle/concat_train_gt_2').to_pandas()
t3 = load_from_disk('/opt/ml/data/passage_shuffle/concat_train_gt_3').to_pandas()
t4 = load_from_disk('/opt/ml/data/passage_shuffle/concat_train_gt_4').to_pandas()

In [22]:
total = pd.concat([t0,t1,t2,t3,t4],ignore_index=True)
total['__index_level_0__'] = list(range(len(total)))

In [23]:
add_datasets = Dataset.from_pandas(total)
add_datasets.save_to_disk("/opt/ml/data/train_dataset/suffle_concat")

In [50]:
len(add_datasets)

7904

In [21]:
total.head()

,title,context,question,id,answers,document_id,__index_level_0__
0,미국 상원,미국 상의원 또는 미국 상원(United States Senate)은 양원제인 미국...,대통령을 포함한 미국의 행정부 견제권을 갖는 국가 기관은?,mrc-1-000067,"{'answer_start': [235], 'text': ['하원']}",18293,0
1,인사조직관리,'근대적 경영학' 또는 '고전적 경영학'에서 현대적 경영학으로 전환되는 시기는 19...,현대적 인사조직관리의 시발점이 된 책은?,mrc-0-004397,"{'answer_start': [212], 'text': ['《경영의 실제》']}",51638,1
2,강희제,강희제는 강화된 황권으로 거의 황제 중심의 독단적으로 나라를 이끌어 갔기에 자칫 전...,강희제가 1717년에 쓴 글은 누구를 위해 쓰여졌는가?,mrc-1-000362,"{'answer_start': [510], 'text': ['백성']}",5028,2
3,금동삼존불감,"불상을 모시기 위해 나무나 돌, 쇠 등을 깎아 일반적인 건축물보다 작은 규모로 만든...",11~12세기에 제작된 본존불은 보통 어떤 나라의 특징이 전파되었나요?,mrc-0-001510,"{'answer_start': [625], 'text': ['중국']}",34146,3
4,계사명 사리구,동아대학교박물관에서 소장하고 있는 계사명 사리구는 총 4개의 용기로 구성된 조선후기...,명문이 적힌 유물을 구성하는 그릇의 총 개수는?,mrc-0-000823,"{'answer_start': [30], 'text': ['4개']}",47334,4

In [21]:
# 인덱스 제대로 됬나 확인용
temp = []
for i in range(len(add_datasets)):
    idx1 = add_data_df['answers'][i]['answer_start'][0]
    idx2 = add_data_df['answers'][i]['answer_start'][0] + len(add_data_df['answers'][i]['text'][0])
    temp.append(add_data_df['context'][i][idx1:idx2])

In [27]:
train_dataset = load_from_disk("/opt/ml/data/new_train_dataset/train").to_pandas()

In [28]:
tt = []

for i in range(len(train_dataset)):
    idx1 = train_dataset['answers'][i]['answer_start'][0]
    idx2 = train_dataset['answers'][i]['answer_start'][0] + len(train_dataset['answers'][i]['text'][0])
    tt.append(train_dataset['context'][i][idx1:idx2])

In [29]:
train_dataset['answers'] = tt

In [40]:
train_dataset['context'][train_dataset['answers'] == '경원대군']

322     1544년 중종이 병사하였다. 그러나 보위를 재빨리 인종이 접수함으로써 경원대군 추...
1727    1544년 중종이 병사하였다. 그러나 보위를 재빨리 인종이 접수함으로써 경원대군 추...
Name: context, dtype: object